In [1]:
#서울특별시 일반음식점 인허가 정보

import urllib.request 
import json 
import pandas as pd 
from pandas.io.json import json_normalize

In [2]:
a=1
b=1000

df_mine = pd.DataFrame(columns=['APVPERMYMD','TRDSTATEGBN','TRDSTATENM','DCBYMD','SITEAREA','RDNWHLADDR','BPLCNM','UPTAENM','X','Y'])

while b < 460000 :
    url='http://openapi.seoul.go.kr:8088/5050435353726e643637446f4f5774/json/LOCALDATA_072404/'+str(a)+'/'+str(b)
    response = urllib.request.urlopen(url)
    json_str = response.read().decode("utf-8")
    json_object = json.loads(json_str)
    df = pd.json_normalize(json_object['LOCALDATA_072404']['row'])
    
    df_sel = df[['APVPERMYMD','TRDSTATEGBN','TRDSTATENM','DCBYMD','SITEAREA','RDNWHLADDR','BPLCNM','UPTAENM','X','Y']]
    
    df_mine = pd.concat([df_sel,df_mine])
    
    
    a = a + 1000
    b = b + 1000 
    
df

,OPNSFTEAMCODE,MGTNO,APVPERMYMD,APVCANCELYMD,TRDSTATEGBN,TRDSTATENM,DTLSTATEGBN,DTLSTATENM,DCBYMD,CLGSTDT,...,FCTYSILJOBEPCNT,FCTYPDTJOBEPCNT,BDNGOWNSENM,ISREAM,MONAM,MULTUSNUPSOYN,FACILTOTSCP,JTUPSOASGNNO,JTUPSOMAINEDF,HOMEPAGE
0,3120000,3120000-101-2021-00005,20210106,,01,영업/정상,01,영업,,,...,,,,,,,,,,
1,3230000,3230000-101-2021-00018,20210107,,01,영업/정상,01,영업,,,...,,,,,,,,,,
2,3120000,3120000-101-2021-00006,20210106,,01,영업/정상,01,영업,,,...,,,,,,,,,,
3,3120000,3120000-101-2021-00007,20210106,,01,영업/정상,01,영업,,,...,,,,,,,,,,
4,3120000,3120000-101-2021-00008,20210106,,01,영업/정상,01,영업,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,3230000,3230000-101-1995-08556,19951122,,01,영업/정상,01,영업,,,...,,,,,,,,,,
291,3220000,3220000-101-1995-14399,19951005,,03,폐업,02,폐업,20210111,,...,,,,,,,,,,
292,3210000,3210000-101-1988-03865,19880916,,01,영업/정상,01,영업,,,...,,,,,,,,,,
293,3210000,3210000-101-1986-03909,19861101,,01,영업/정상,01,영업,,,...,,,,,,,,,,
294,3080000,3080000-101-1984-04583,19840809,,01,영업/정상,01,영업,,,...,,,,,,,,,,

In [26]:
df_mine.to_csv('./data/data1.csv')