In [61]:
#서울시 코로나 확진자
import urllib.request 
import json 
import pandas as pd 
from pandas.io.json import json_normalize

In [62]:
df = pd.read_csv('./data/seoul_covid.csv',encoding='euc-kr')

In [63]:
df = df.loc[0:629]

In [64]:
for i in range(len(df)):
    df['자치구 기준일'][i] = df['자치구 기준일'][i][:10]

<ipython-input-64-f2983c639e98>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['자치구 기준일'][i] = df['자치구 기준일'][i][:10]

In [65]:
df

,자치구 기준일,종로구 전체,종로구 추가,중구 전체,중구 추가,용산구 전체,용산구 추가,성동구 전체,성동구 추가,광진구 전체,...,서추구 추가,강남구 전체,강남구 추가,송파구 전체,송파구 추가,강동구 전체,강동구 추가,기타 전체,기타 추가,수집일
0,2021.11.23,2555.0,24.0,2475.0,20.0,3535.0,10.0,3899.0,37.0,4627.0,...,44.0,8790.0,45.0,8792.0,57.0,5899.0,49.0,9884.0,79.0,11:44.0
1,2021.11.22,2531.0,22.0,2455.0,14.0,3525.0,22.0,3862.0,29.0,4587.0,...,33.0,8745.0,46.0,8735.0,77.0,5850.0,66.0,9800.0,72.0,11:44.0
2,2021.11.21,2509.0,28.0,2441.0,17.0,3503.0,25.0,3833.0,41.0,4556.0,...,42.0,8699.0,52.0,8658.0,82.0,5784.0,62.0,9722.0,77.0,11:44.0
3,2021.11.20,2481.0,32.0,2424.0,22.0,3478.0,26.0,3792.0,43.0,4511.0,...,58.0,8647.0,58.0,8576.0,68.0,5721.0,52.0,9651.0,98.0,11:44.0
4,2021.11.19,2449.0,25.0,2402.0,34.0,3452.0,21.0,3749.0,28.0,4483.0,...,31.0,8589.0,61.0,8508.0,78.0,5669.0,51.0,9553.0,90.0,11:44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,2020.03.03,11.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,2.0,...,1.0,9.0,1.0,12.0,0.0,4.0,0.0,10.0,0.0,NaN
626,2020.03.02,11.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,2.0,...,0.0,8.0,1.0,12.0,0.0,4.0,0.0,10.0,0.0,NaN
627,2020.03.01,11.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,1.0,...,0.0,7.0,1.0,12.0,0.0,4.0,0.0,10.0,1.0,NaN
628,2020.02.29,11.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,...,0.0,6.0,3.0,12.0,3.0,4.0,1.0,9.0,0.0,NaN
629,2020.02.28,11.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,...,1.0,3.0,1.0,9.0,0.0,3.0,0.0,9.0,2.0,NaN

In [66]:
from datetime import datetime

In [67]:
date = pd.to_datetime(df['자치구 기준일'],format='%Y.%m.%d')
df['자치구 기준일'] = date

In [68]:
df = df.iloc[:,[0,1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51]]

In [69]:
df.columns

Index(['자치구 기준일', '종로구 전체', '중구 전체', '용산구 전체', '성동구 전체', '광진구 전체', '동대문구 전체',
       '중랑구 전체', '성북구 전체', '강북구 전체', '도봉구 전체', '노원구 전체', '은평구 전체', '서대문구 전체',
       '마포구 전체', '양천구 전체', '강서구 전체', '구로구 전체', '금천구 전체', '영등포구 전체', '동작구 전체',
       '관악구 전체', '서초구 전체', '강남구 전체', '송파구 전체', '강동구 전체', '기타 전체'],
      dtype='object')

In [70]:
df.iloc[:,1:27]

,종로구 전체,중구 전체,용산구 전체,성동구 전체,광진구 전체,동대문구 전체,중랑구 전체,성북구 전체,강북구 전체,도봉구 전체,...,구로구 전체,금천구 전체,영등포구 전체,동작구 전체,관악구 전체,서초구 전체,강남구 전체,송파구 전체,강동구 전체,기타 전체
0,2555.0,2475.0,3535.0,3899.0,4627.0,5630.0,5174.0,5906.0,4020.0,3951.0,...,7142.0,3530.0,6883.0,5578.0,7486.0,5522.0,8790.0,8792.0,5899.0,9884.0
1,2531.0,2455.0,3525.0,3862.0,4587.0,5596.0,5124.0,5837.0,3968.0,3908.0,...,7086.0,3501.0,6842.0,5523.0,7448.0,5479.0,8745.0,8735.0,5850.0,9800.0
2,2509.0,2441.0,3503.0,3833.0,4556.0,5545.0,5064.0,5766.0,3917.0,3871.0,...,7021.0,3463.0,6766.0,5471.0,7390.0,5446.0,8699.0,8658.0,5784.0,9722.0
3,2481.0,2424.0,3478.0,3792.0,4511.0,5494.0,5024.0,5693.0,3876.0,3848.0,...,6955.0,3432.0,6697.0,5412.0,7327.0,5403.0,8647.0,8576.0,5721.0,9651.0
4,2449.0,2402.0,3452.0,3749.0,4483.0,5435.0,4977.0,5628.0,3830.0,3791.0,...,6885.0,3371.0,6616.0,5361.0,7263.0,5345.0,8589.0,8508.0,5669.0,9553.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,11.0,0.0,0.0,3.0,2.0,1.0,1.0,5.0,0.0,1.0,...,1.0,1.0,3.0,1.0,4.0,5.0,9.0,12.0,4.0,10.0
626,11.0,0.0,0.0,3.0,2.0,1.0,1.0,3.0,0.0,0.0,...,1.0,1.0,2.0,1.0,4.0,4.0,8.0,12.0,4.0,10.0
627,11.0,0.0,0.0,3.0,1.0,1.0,1.0,2.0,0.0,0.0,...,1.0,1.0,1.0,1.0,4.0,4.0,7.0,12.0,4.0,10.0
628,11.0,0.0,0.0,3.0,1.0,1.0,1.0,2.0,0.0,0.0,...,1.0,1.0,0.0,1.0,3.0,4.0,6.0,12.0,4.0,9.0
629,11.0,0.0,0.0,2.0,1.0,1.0,1.0,2.0,0.0,0.0,...,1.0,1.0,0.0,1.0,2.0,4.0,3.0,9.0,3.0,9.0

In [71]:
k=0
confirmed = []
for i in range(len(df)):
    for j in range(26):
        k = df.iloc[i,j+1] + k
        j += 1
    confirmed.append(k)
    k=0
    i += 1

len(confirmed)

630

In [73]:
df2 = pd.DataFrame({'Date':df['자치구 기준일'] , 'confirmed':confirmed})
df2

          Date  confirmed
0   2021-11-23   142913.0
1   2021-11-22   141748.0
2   2021-11-21   140470.0
3   2021-11-20   139154.0
4   2021-11-19   137777.0
..         ...        ...
625 2020-03-03       98.0
626 2020-03-02       92.0
627 2020-03-01       87.0
628 2020-02-29       82.0
629 2020-02-28       70.0

[630 rows x 2 columns]

In [74]:
seoul_conf = pd.DataFrame({'Year':[],'Month':[],'confirmed':[],'confirmedadd':[]})

In [76]:
y = 2020

c = 0
x = 0

ylist=[]
mlist=[]
xlist=[]
clist=[]

while y < 2022 :      #2020.2~2021.9

    for j in range(2,13) :
        m = j 
        df3 = df2[df2['Date'].dt.year == 2020]
        df3 = df3[df3['Date'].dt.month == m].reset_index(drop=True)

        x = df3.loc[0,'confirmed'] - c             # x = 매월 신규 확진자, c = 누적 확진자
        c = df3.loc[0,'confirmed']
        print(x,c)
        ylist.append(y)
        mlist.append(m)
        xlist.append(x)
        clist.append(c)
    y+=1
    
    for k in range(1,10) :
        m = k
        df3 = df2[df2['Date'].dt.year == 2021]
        df3 = df3[df3['Date'].dt.month == m].reset_index(drop=True)

        x = df3.loc[0,'confirmed'] - c             # x = 매월 신규 확진자, c = 누적 확진자
        c = df3.loc[0,'confirmed']
        print(x,c)
        ylist.append(y)
        mlist.append(m)
        xlist.append(x)
        clist.append(c)
    y+=1

        
seoul_conf['Year'] = ylist
seoul_conf['Month'] = mlist
seoul_conf['confirmed'] = xlist
seoul_conf['confirmedadd'] = clist

82.0 82.0
372.0 454.0
179.0 633.0
228.0 861.0
452.0 1313.0
288.0 1601.0
2314.0 3915.0
1379.0 5294.0
718.0 6012.0
2795.0 8807.0
10222.0 19029.0
5133.0 24162.0
4068.0 28230.0
3801.0 32031.0
5806.0 37837.0
6080.0 43917.0
6070.0 49987.0
14372.0 64359.0
14995.0 79354.0
21141.0 100495.0

In [83]:
seoul_conf['confirmed'] = seoul_conf['confirmed'].astype(int)

In [84]:
seoul_conf['confirmedadd'] = seoul_conf['confirmedadd'].astype(int)

In [85]:
seoul_conf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          20 non-null     int64
 1   Month         20 non-null     int64
 2   confirmed     20 non-null     int32
 3   confirmedadd  20 non-null     int32
dtypes: int32(2), int64(2)
memory usage: 608.0 bytes

In [86]:
seoul_conf.to_csv('./data/seoul_conf.csv',encoding='utf-8')